# the hold asset and issuer, this is the asset where your arbitrage cycle starts and ends
HOLD_ASSET_CODE="XLM"
# uncomment the HOLD_ASSET_ISSUER if your hold asset is not XLM
# HOLD_ASSET_ISSUER=""

# the list of candidate assets through which to cycle
# you must have at least two. If you list more than two all combinations will be checked each cycle
[[ASSETS]]
CODE=COUPON # the code of the cycle asset
ISSUER =GSIGH...   # multiple of base amount = 10.0 * 100 units of base asset

[[ASSETS]]
CODE=COUPON # the code of the cycle asset
ISSUER =GSIGH... 

# [[ASSETS]]...

# the minimum profit ratio for the bot to submit a payment cycle
# stated as a decimal. 1.0 would mean the bot accepts breaking even, less than 1.0 is a loss
MIN_RATIO=1.0001
